// colors //

$color-light-pink: #ffe5e5;
$color-pink-1: #FA5959;
$color-pink-2: #FF6B6BD9;
$color-white: #fff;
$color-black: #000;
$color-grey: #6C6A6A;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: $color-black;
    background-color: $color-white;
    background-size: cover;

    min-height: 100vh; 
}
