.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-primary;
    flex-wrap: wrap;
    padding: 3rem 10rem;

    @media only screen and (max-width: 800px) {
        padding: 3rem 5rem;
    }

    &__logo {
        display: flex;
        align-items: center;
        img {
            display: block;
            width: auto;
        }
    }

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5rem;
        min-width: 40rem;

        @media only screen and (max-width: 1000px) {
            display: none;
            &--mobile {
                display: flex; // Показать в бургер-меню
            }
        }
    }

    &__list-item {
        list-style: none;
        text-decoration: none;
        outline: none;
        color: $color-black;
        font-size: 16px;
        padding: 0 2rem;
    }

    &__list-link:link,
    &__list-link:visited {
        text-decoration: none;
        color: $color-black;
        outline: none;
        transition: all, .2s;
    }
    &__list-link:hover,
    &__list-link:active {
        color: $color-pink-3;
    }

}