.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-primary;
    flex-wrap: wrap;

    &__logo {
        display: flex;
        align-items: center;

        img {
            display: block;
            width: auto;
        }
    }

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5rem;
        min-width: 40rem;

    }

     &__list-item {
        text-decoration: none;
        color: $color-black;
        padding: 0 2rem;
     }

     &__nav-link:link,
    &__nav-link:visited {
        text-decoration: none;
        color: $color-black;
        outline: none;
        transition: all, .2s;
    }
    &__nav-link:hover,
    &__nav-link:active {
        color: $color-pink-3;
    }
}