.reviews {

    &__h2 {
        text-align: center;
    }

    &__p {
        text-align: center;
        margin: 0 auto;
        max-width: 50rem;
    }

    &__btn {
        display: flex;
        margin: 5rem auto;
    }

}

.review {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 7rem;
    grid-column-gap: 4rem;
    margin-bottom: 10rem;
    border-radius: 5px;
    padding: 2.5rem;

    @media only screen and (max-width: 800px) {
        margin: 7rem 5rem;
        grid-template-columns: auto;
        justify-content: center;
    }


    &--1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        @media only screen and (max-width: 800px) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    }

    &--2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        @media only screen and (max-width: 800px) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
    }

    &--3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;

        @media only screen and (max-width: 800px) {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
    }

    &__h4 {
        margin-top: 3.8rem;
        margin-bottom: 1.6rem;
    }

    &__img {
        width: 14rem;
    }

    &__p {
        @media only screen and (max-width: 800px) {
            text-align: center;
        }
    }
}