.reviews {

    &__h2 {
        text-align: center;
        margin-bottom: 2cqh;
    }

    &__p {
        text-align: center;
        margin: 0 25%;
    }

    &__btn {
        display: flex;
        margin: 5rem auto;
    }

}

.review {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 7rem;
    grid-column-gap: 4rem;
    margin: 10rem;
    border-radius: 5px;
    padding: 2.5rem;


    &--1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    &--2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    &--3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    &__h4 {
        margin-top: 3.8rem;
        margin-bottom: 1.6rem;
    }

    &__img {
        width: 14rem;
    }
}