// buttons //
.btn {
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 1.6rem 4.2rem;
    cursor: pointer;
    outline: none;

    &__link--light:link,
    &__link--light:visited {
        text-decoration: none;
        outline: none;
        color: $color-black;
    }

    &__link--dark:link,
    &__link--dark:visited {
        text-decoration: none;
        color: $color-white;
        outline: none;
    }

    &--light {
        background-color: $color-pink-4;
        color: $color-black;

        &:hover,
        &:active {
            transform: translateY(.4rem);
        }
    }

    &--dark {
        background: linear-gradient(180deg, #FA5959 0%, rgba(255, 107, 107, 0.85) 100%);
        box-shadow: 0px 2px 4px rgba(235, 87, 87, 0.3);
        color: $color-white;
        text-decoration: none;
        outline: none;
        transition: all .2s;

        &:hover,
        &:active {
            transform: translateY(.4rem);
        }
    }

    &--pink {
        background: linear-gradient(180deg, #FA5959 0%, #FA5959 100%);
        color: $color-white;
        box-shadow: 0px 3px 4px rgba(235, 87, 87, 0.3);
        transition: all .2s;

        &:hover,
        &:active {
            transform: translateY(-.3rem);
            box-shadow: 0px 4px 4px rgba(235, 87, 87, 0.7);
        }
    }

    &--small {
        background-color: $color-white;
        border: 1px solid $color-pink-1;
        color: $color-pink-1;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 2rem;
        text-transform: none;
        padding: .5rem 1.1rem;
        margin: 0 1rem;
    }
}

// FONT //
h1 {
    font-size: 3.6rem;
    font-weight: 500;
    font-style: normal;
    line-height: 4.8rem;
    color: $color-black;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.7rem;
    color: $color-black;
}

//Berries//
.berry {
    position: relative;

    &__strawberry {
        display: block;
        position: absolute;
        transform: translate(150%, -120%);
    }

    &__blueberry {
        display: block;
        position: absolute;
        right: 0;
        transform: translate(-25rem, -10%);
        max-width: 7vw;
    }
}

